<div class="col-xs-10 col-xs-push-1 storage-file-card">
    <div class="row">
        <span class="del-icon" (click)="delete.emit($event, file)">
            <i class="fa fa-times"></i>
        </span>
        <div class="file-img" [style.backgroundImage]="fileUrl ? 'url(' + fileUrl + ')' : null">
            <span class="select-item" *ngIf="!fileUrl && avatarUrl"
                  [style.backgroundImage]="avatarUrl ? 'url(' + avatarUrl + ')' : '~assets/img/avatars/storage-file-avatar.png'">
            </span>
        </div>
        <h6 [title]="fileName">
            <span>{{fileName}}</span>
        </h6>
    </div>
</div>
